- if @song.errors
  .errors
    = @song.errors.full_messages
= form_for(@song, html: { class: 'ui form' }) do |form|
  .fields
    .two.field
      = form.label :title
      = form.text_field :title
    .two.field
      = form.label :artist
      = form.text_field :artist
  = form.submit 'Ajouter la chanson'
